*{
  margin: 0px;  
  padding: 0px;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    gap:40px;
    background-color: #c9e1ff;

}
.facebook-img{
    width:600px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
 
 }
.icon{
    width: 380px;
    height: 110px;
    position:relative;
    top:14px;
    right:30px;
}
h2{
    width:420px;
    text-align:left;
}
.input-box{
    width: 400px;
    height: 370px;
    border:none;
box-shadow: rgba(0, 0, 0, 0.1) 1px 15px 20px -3px, rgba(0, 0, 0, 0.3) 0px 4px 6px -2px;
    border-radius:12px;
    display: flex;
    flex-direction: column;
    gap:11px;
    background-color: white;
}
.input-box input{
    padding:16px;
    width:95%;
    border-radius:9px;
    font-size: 16px;
    margin: auto;
    border: 1px solid gray;
    outline: none;
}
.input-box input:focus{
    border-color: #1877f2;
}
.input-box button{
    padding:13px;
    width:95%;
    border-radius:9px;
    font-size: 15px;
    font-weight: 800;
    background-color:#1877f2;
    border: none;
    margin: auto;
    font-family:sans-serif;
    cursor: pointer;
    color: white;
}
.input-box button:hover{
background-color: #488ce6;
}
#forget{
    text-decoration: none;
    margin:auto;
    cursor: pointer;
}
hr{
    color: black;
    background-color: black;
    border: 1px solid gray;
}
#create{
    width:220px;
    background-color: rgb(41, 224, 17);
}

@media (max-width:800px) {
.facebook-img{
    width:380px;
 
}
    .container{
        display:flex;
        flex-direction: column;
    }
}