    body {
            font-family: Arial;
            padding: 20px;
            display: flex;
            justify-content: center;
        }

        #calc {
            width: 100%;
            max-width: 250px;
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        #display {
            width: 100%;
            height: 40px;
            margin-bottom: 10px;
            padding: 5px;
            font-size: 20px;
        }

        .btn {
            width: 22%;
            height: 45px;
            margin: 1%;
            font-size: 18px;
        }

        @media (max-width: 400px) {
            #calc {
                max-width: 300px;
            }
            .btn {
                height: 50px;
                font-size: 20px;
            }
        }